<div class="card">
 <div class="card-header d-flex align-items-center bg-dark text-white">
    <span class="material-icons me-2">
      cloud_upload
    </span>
    Upload an Image
  </div>
  <div class="card-header">
    <form action="/images" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <input
          type="file"
          name="image"
          class="form-control text-dark border-success"
          required
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          name="title"
          class="form-control text-dark border border-success"
          placeholder="Title for the Image"
          required
        />
      </div>
      
      <div class="mb-3">
        <textarea
          name="description"
          rows="2"
          class="form-control text-dark border border-success"
          placeholder="Deescription for the Image"
          required
        ></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-success ">
         <span class="material-icons">
          file_upload
         </span>
         Upload Image
        </button>
      </div>

    </form> 
  </div>
</div>
<div class="card mt-2">
  <div class="card-header bg-dark text-white d-flex align-items-center">
   <span class="material-icons me-2">
      cloud
    </span>
    Recent Uploads
  </div>
  <div class="card-body">
    <div class="row">
      {{#each images}}
        <div class="col-md-4">
           <a href="/images/{{uniqueId}}">
            <img
              src="/public/upload/{{filename}}"
              alt="{{title}}"
              class="w-100 h-100"
              style="object-fit: cover;"
            />
          </a>
        </div>
        {{else}}
        <div class="text-light text-center p-5">
          <h1 class="text-light">There are no Images <strong>yet</strong></h1>
          <p>Upload your first image</p>
          <span class="material-icons" style="font-size: 7rem;">
            add_a_photo
          </span>
        </div>
      {{/each}}
    </div>
  </div>
</div>

