<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <div class="container">
    <a href="/" class="navbar-brand">
      <img src="/public/images/imgshare-logo.png" alt="" class="image">
    </a>
  </div>
</nav>


