<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>head}}
</head>

<body>
  {{>navbar}}
  <div class="container p-4">
   <div class="row">
      <div class="col-md-8">
       {{{ body }}} 
      </div>
      <div class="col-md-4">
          {{>stats this}}
          {{>popular this}}
          {{>comments this}}
      </div>
   </div> 
  </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 <script src="/public/js/scripts.js"></script>
</body>
</html>
